@media screen and (min-width:768px) and (max-width:959px) {
    .wrap {
        max-width: 768px;
        padding-left: 19px;
        padding-right: 19px;
    }
    .header__container {
        flex-direction: column;
        margin-bottom: 68px;
    }
    .header__logo-link {
        margin-bottom: 26px;
    }
    .slider__slide {
        padding: 102px 0 0 24px;
    }
    .slider__title {
        margin-bottom: 14px;
        font-size: 48px;
    }
    .slider__subtitle {
        overflow: hidden;
        font-size: 24px;
        max-width: 280px;
        height: 24px;
        margin-bottom: 10px;
    }
    .slider__text {
        font-size: 16px;
    }
}
@media screen and (max-width:767px) {
    .wrap {
        max-width: 480px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .header__container {
        flex-direction: column;
    }
    .header__logo-link {
        margin: 0 auto;
    }
    .menu {
        display: none;
    }
}
@media screen and (max-width:479px) {}